/.checkstack
/.*.ver
/.opam
/.sireum.exe
/7z
/brave
/clion
/cs.exe
/cs.exe.ver
/cvc*.exe
/fmide
/graal
/idea
/idea-ultimate
/isabelle
/java
/opam
/osate
/rust
/rustrover
/sireum.exe
/vscodium
/z3
*.cmd.jar
*.cmd.com
*.sfx